{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}  

        <div class="auth_logo">
            <h1>Профиль</h1>
        </div>

        <div class="auth_block_space">
            
                <div class="auth_block">
                    <div class="profile_card">
                        <div class="user_profile_picture_space">
                            <div class="card_block">
                                <div class="card_block_inside">
                                    <img class="img-profile" src="{% static 'main/img/logo4.png' %}">
                                </div>
                                <div class="user_info">
                                    <h6 class="user_name">{{ request.user.username }}</h6>
                                    <p>Web Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="profile_main_part_space">
                            <div class="profile_main_part">
                                <div class="card_block">     
                                    <h3 class="inf-text">Пользователь</h3>
                                    <div class="main_row"></div>
                                    <div class="row">
                                        <div class="inf-text-main m-t-10">
                                            <p>Эл. Почта</p>
                                            <h6>{{ request.user.email }}</h6>
                                        </div>
                                        <div class="inf-text-main">
                                            <p>Телефон</p>
                                            <h6>+7432432432</h6>
                                        </div>
                                    </div>
                                    <h3 class="Project-title">Проекты</h3>
                                    <div class="main_row"></div>
                                    <div class="row">
                                        <div class="inf-text-main m-t-10">
                                            <p>Эл. Почта</p>
                                            <h6>{{ request.user.email }}</h6>
                                        </div>
                                        <div class="inf-text-main">
                                            <p>Телефон</p>
                                            <h6>+7432432432</h6>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="auth_block_button">
                        <a href="{% url 'logout' %}">
                            <span class="material-icons-sharp">
                                logout
                            </span>
                            <h3>Выход</h3>
                        </a>
                    </div> -->
                </div>
            
        </div>

    {% else %}

        <div class="auth_logo">
            <h1>Авторизация</h1>
        </div>

        <div class="auth_block_space">
            <div class="auth_block">
                <div class="auth_block_button">
                    <a href="{% url 'register' %}"><div class="register_button">Регистрация</div></a>
                    <a href="{% url 'login' %}"><div class="register_button">Вход</div></a>
                </div>
            </div>
        </div>
        
            
    {% endif %}

{% endblock %}
